.btnBig {
  width: 296px;
  height: 65px;
  border-radius: 12px;
  background: #FF8B37;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .15s ease-in-out;
  &:hover {
    background: #e06e24;
  }
  .title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
}