.question {
  width: 405px;
  display: inline-block;
  height: 72px;
  cursor: pointer;
  position: relative;
  transition: .2s ease-in-out;
  margin-bottom: 16px;
  .line {
    position: absolute;
    top: 35px;
    width: 17px;
    height: 0;
    left: 0;
    border-bottom: 2px solid #E7E7EB
  }
  .line_right {
    position: absolute;
    top: 35px;
    width: 17px;
    height: 0;
    right: 0;
    border-bottom: 2px solid #E7E7EB
  }
  &:hover .line,&:hover .line_right{
    border-bottom: 2px solid #FF8B37;
  }

  &_inactive {
    margin-left: 17px;
    background: url("../../assets/buttonInactive.png");
    width: 372px;
    height: 100%;
    transition: .2s ease-in-out;
    &:hover {
      background: url("../../assets/buttonHover.png");

    }
  }

  &_selected ,&_selected:hover {
    background: url("../../assets/buttonSelected.png");
    width: 372px;
    margin-left: 17px;
    height: 100%;
  }
  &_correct {
    margin-left: 17px;
    background: url("../../assets/buttonCorrect.png");
    width: 372px;
    height: 100%;
    &:hover {
      background: url("../../assets/buttonCorrect.png");
    }
  }
  &_wrong {
    margin-left: 17px;
    background: url("../../assets/buttonWrong.png");
    width: 372px;
    height: 100%;
    &:hover {
      background: url("../../assets/buttonWrong.png");
    }
  }
}
.question_content {
  width: 309px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 30px;
  &_letter {
    font-family: "Inter ",sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FF8B37;
    margin-bottom: 4px;
  }
  &_title {
    font-family: "Inter ",sans-serif;
    font-size: 20px;
    margin-left: 8px;
    line-height: 20px;
    margin-bottom: 4px;
    font-weight: normal;
    color: #020100;
  }
}
