.sideBar {
  width: 376px;
  height: 100vh;
  margin-left: auto;
  background: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  @media screen and (max-width: 470px) {
    display: none;
    width: 0;
  }
}