.game {
  display: flex;

  .main {
    width:100% ;
    background: #F5F5F7;
    .questionTitle {
      max-width: 624px;
      height: 74px;
      margin-top: 133px;
      margin-left: 80px;
      font-weight: 600;
    }
    .answersBlock {
      margin-top: 390px;
      width: 810px;
      height: 176px;
      margin-left: 80px;
    }
  }
}
@media screen and (max-width: 470px) {
  .game {
    display: block;
    height: 100vh;
    .main {
      width: 100vw;
      background: #F5F5F7;
      height: 100vh;
      margin: 0;
      padding: 0;
      .questionTitle {
        position: absolute;
        top: 60px;
        margin: 0;
        padding: 0 20px;
        //padding: 20px;
        text-align: center;
        font-weight: 600;
      }
      .answersBlock {
        position: absolute;
        top: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;



      }
    }
  }
}